---
import Layout from '../layouts/Layout.astro';

export const lernfelder = [
	{title: "Lernfeld 06 - Serviceanfragen bearbeiten", href: "/lf06"},
	{title: "Lernfeld 08", href: "/lf08"}
]

---

<Layout title="learn">
	<main>
		<h1>learn</h1>
		<p>hier speichere ich meine schulsachen</p>
		<ul class="folders">{lernfelder.map(lernfeld => <li><a href={lernfeld.href}>{lernfeld.title}</a></li>)}</ul>

	</main>
</Layout>

