---
import Layout from '../layouts/Layout.astro';

export const lernfelder = [
	{title: "Lernfeld 06", href: "/lf06"},
	{title: "English", href: "/english"},
	{title: "Lernfeld 08", href: "/lf08"},
	{title: "Lernfeld 09", href: "/lf09"}
]

---

<Layout title="learn">
	<main>
		<h1>learn</h1>
		<p>hier speichere ich meine schulsachen</p>
	</main>
</Layout>

