---
import Layout from '../layouts/Layout.astro';

export const lernfelder = [
	{title: "Lernfeld 06 - Serviceanfragen bearbeiten", href: "/lf06"},
	{title: "English", href: "/english"},
	{title: "Lernfeld 08 - Daten systemübergreifend bereitstellen (Herr Heyers)", href: "/lf08"},
	{title: "Lernfeld 09 - Netzwerke und Dienste bereitstellen", href: "/lf09"}
]

---

<Layout title="learn">
	<main>
		<h1>learn</h1>
		<p>hier speichere ich meine schulsachen</p>
		<ul class="folders">{lernfelder.map(lernfeld => <li><a href={lernfeld.href}>{lernfeld.title}</a></li>)}</ul>

	</main>
</Layout>

