---
import { getEntry } from "astro:content";
import Layout from "../../../../layouts/Layout.astro";

const {path,slug} = Astro.params

const post = await getEntry(path, slug)

const {Content} = await post.render()
console.log(post)
---

<Layout title={post.data.title + " - " +  post.data.date}>
    <h2>{path}/{slug} - {post.data.date.toISOString().slice(0,10)}</h2>
    <Content />
</Layout>