---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const lernfeldPosts = await getCollection("lf08")

---

<Layout title="Lernfeld 08">
    <h1>Lernfeld 08</h1>
    <ul>{lernfeldPosts.map(post => <li><a href={"lf08/post/"+post.slug}>{post.data.title}</a></li>)}</ul>
</Layout>